<h3>@Resource.Map</h3>
<br />

<div id="go-home-js">
    <p>@Resource.LostMessage</p>
    <img src="~/Images/homemap.png" height="55" width="55"/>
</div>
<div>
    @Html.Partial("~/Views/Map/Index.cshtml")
</div>
